<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users and Interests</title>
</head>
<body>
  <%= yield %>

  <p>There are <%= users_count %> users with a total of <%= interests_count %> interests.</p>
</body>
</html>