<!doctype html>
<html>
<head>

  <title>Index</title>

</head>

<body>

  <h1>File Index</h1>

  <ul>
    <% @files.each do |path| %>
      <li>
        <a href="<%= path %>"><%= path %></a>
      </li>
    <% end %>
  </ul>

  <p>
    <% if params[:sort] == "desc" %>
      <a href="/">Sort ascending</a>
    <% else %>
      <a href="/?sort=desc">Sort descending</a>
    <% end %>
  </p>

</body>
</html>
